.table-modal {
    position: fixed;
    z-index: 1020;
    /* Make sure this modal is above the nav bar */
    inset: 0;
    padding: 1rem;
    background: white;

    .row {
        margin-right: 0;
        margin-left: 0;
    }
}