.graph {
  max-width: 80rem;
  margin: 0 auto $padding-large-vertical;

  .row {
    padding: 4px;

    h2 {
      margin-top: 4px;
    }
  }

  .card__header {
    border-bottom: double 1px $gray;
  }

  canvas {
    max-width: 100%;
    margin: 0 auto;
  }
}

.graph__container {
  height: 32rem;
  max-width: 64rem;
  margin: 0 auto;
}

.dashboard__container {
  height: 100%;
  max-width: 64rem;
  margin: 0 auto;

  .dashboard__graph {
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}

.card--graph-preview {
  min-height: auto;
  canvas {
    min-width: 100%;
  }
}
